$color-theme-orange: #ffb300;
$color-theme-orange-dim: #ffcc0086;
$color-theme-brown: #686352;
$color-theme-brown-dim: #d1d1d138;

$var-logobar-height-desktop: 70px;
$var-category-height-desktop: 70px;
$var-logobar-height-mobile: 70px;
$var-category-height-mobile: 70px;


$var-width-mobile: 600px;