@import "../utilities/variables.scss";

.header-column {
  display: block;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
}

@media screen and (max-width: $var-width-mobile) {
  .header-column {
    display: block;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
}